{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Lisää tapahtuma</h3>
            <form action="/addevent/" method="post">
                {% csrf_token %}
                <fieldset>
                <div class="form-group">
                    <label class="col-form-label" for="eventname">Tapahtuman nimi</label>
                    <input class="form-control" placeholder="" id="eventname" name="eventname" type="text">
                </div>
                <div class="form-group">
                    <label for="org">Järjestäjä</label>
                    <select class="form-control" id="org" name="org">
                        {% for club in orgadmin %}
                            <option>{{club}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="venue">Venue</label>
                    <input class="form-control" placeholder="" id="venue" name="venue" type="text">
                </div>
                <div class="form-group">
                    <label for="description">Kuvaus</label>
                    <textarea class="form-control" id="description" name="description" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="pvm">Ajankohta</label>
                    <input class="form-control" type="date" id="pvm" name="pvm">
                </div>

                <button type="submit" class="btn btn-primary">Lisää tapahtuma</button>
                </fieldset>
            </form>
        </div>
        <div class="col">
            <h3>Ohje</h3>
            <p>
            Nakit lisätään vasta tapahtumasivulla.
            </p>
        </div>
    </div>
</div>