{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
        <h1>{{ event.name }}</h1> 
        <p>
            Järjestäjä: <b>{{ event.organizer }}</b> <br>
            Päivämäärä: <b>{{ event.date }}</b> <br>
            Venue: <b>{{ event.venue }}</b> <br>
        </p>
        <p>
        {% if orgadmin %} <a href="/editevent/{{ event.id }}"><button type="button" class="btn btn-primary">Muokkaa</button></a> {% endif %}
        </p>
        <p>
            {{ event.description}}
        </p> 

        <p>
            <h2>Nakit</h2>
            {% if orgadmin %}
            <p>
                <a href="/addnakki/{{ event.id }}"><button type="button" class="btn btn-primary btn-lg">Lisää nakki tapahtumaan</button></a>
            </p>
            {% endif %}
            {% for nakki in nakit %}
            <p>
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ nakki.date }} klo {{ nakki.starttime }} - {{ nakki.endtime }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ nakki.task }}</h4>
                    <p>
                        {% if orgadmin %} <a href="/editnakki/{{ nakki.id }}"><button type="button" class="btn btn-small">Muokkaa nakkia</button></a> {% endif %}
                    </p>
                    <p class="card-text">
                        Paikkoja: {{ nakki.personcount }} <br>
                        Nakissa: 
                        {% for item in nakittautumiset %}
                            {% if item.nakki == nakki %}
                                <br>
                                <b>{{ item.person.first_name }} {{ item.person.last_name }}</b>
                            {% endif %}
                        {% endfor %}
                    {% if user.is_authenticated %}
                    <form action="/regnakki/{{ nakki.id }}/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Nakittaudu</button>
                    </form>
                    <br>
                    <form action="/cancelnakki/{{ nakki.id }}/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Jänistä</button>
                    </form>
                {% else %}
                    <p class="text-warning">Nakittautuminen vaatii rekisteröitymisen!</p>
                {% endif %}
                    </p>
                </div>
            </div>
            {% empty %}
                <b>Ei nakkeja</b>
            {% endfor %}
        </p> 
    
        </div>
    </div>
</div>