{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
        <h1>{{ event.name }}</h1>
        <p>
            Järjestäjä: <b>{{ event.organizer }}</b> <br>
            Päivämäärä: <b>{{ event.date }}</b> <br>
            Venue: <b>{{ event.venue }}</b> <br>
        </p>
        <p>
            {{ event.description}}
        </p> 

        <p>
            <h3>Nakit</h3>
            {% for nakki in nakit %}
            <p>
                <h5>{{ nakki.task }}</h5>
                {{ nakki.starttime }} - {{ nakki.endtime }} <br>
                Paikkoja: {{ nakki.personcount }} <br>
                Nakissa: 
                {% for item in nakittautumiset %}
                    {% if item.nakki == nakki %}
                        {{ item.person.first_name }} {{ item.person.last_name }}
                    {% endif %}
                {% endfor %}
                <br>
                {% if user.is_authenticated %}
                    <a href="/regnakki/{{ nakki.id }}"<button type="button" class="btn btn-primary">Nakittaudu</button></a>
                    <a href="/cancelnakki/{{ nakki.id }}"<button type="button" class="btn btn-secondary">Jänistä</button></a>
                {% else %}
                    <p class="text-warning">Nakittautuminen vaatii rekisteröitymisen!</p>
                {% endif %}
            </p>
            {% empty %}
                <b>Ei nakkeja</b>
            {% endfor %}
        </p> 
    
        </div>
    </div>
</div>