{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
        <h1>{{ event.name }}</h1>
        <p>
            Järjestäjä: <b>{{ event.organizer }}</b> <br>
            Päivämäärä: <b>{{ event.date }}</b> <br>
            Venue: <b>{{ event.venue }}</b> <br>
        </p>
        <p>
            {{ event.description}}
        </p> 

        <p>
            <h2>Nakit</h2>
            {% if orgadmin %}
            <p>
                <a href="/addnakki/{{ event.id }}"><button type="button" class="btn btn-primary btn-lg">Lisää nakki tapahtumaan</button></a>
            </p>
            {% endif %}
            {% for nakki in nakit %}
            <p>
                <h3>{{ nakki.task }}</h3>
                {{ nakki.starttime }} - {{ nakki.endtime }} <br>
                Paikkoja: {{ nakki.personcount }} <br>
                Nakissa: 
                {% for item in nakittautumiset %}
                    <br>
                    {% if item.nakki == nakki %}
                        {{ item.person.first_name }} {{ item.person.last_name }}
                    {% endif %}
                {% endfor %}
                <br>
                {% if user.is_authenticated %}
                    <form action="/regnakki/{{ nakki.id }}/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Nakittaudu</button>
                    </form>
                    <br>
                    <form action="/cancelnakki/{{ nakki.id }}/" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Jänistä</button>
                    </form>
                {% else %}
                    <p class="text-warning">Nakittautuminen vaatii rekisteröitymisen!</p>
                {% endif %}
            </p>
            {% empty %}
                <b>Ei nakkeja</b>
            {% endfor %}
        </p> 
    
        </div>
    </div>
</div>