{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
        <h3> Tulevat tapahtumat </h3>
            <table class="table table-hover ">
                <tbody>
                    {% for event in upcomingevents %}
                        <tr>
                            <th><a class="fp" href="event/{{ event.id }}">{{ event.name }}</a></th>
                            <th>{{ event.date|date:"SHORT_DATE_FORMAT" }}</th>
                            <th>{{event.organizer.name}}</th>
                        </tr>
                    {% empty %}
                        <tr>
                            <th></th>
                            <th>Ei tulevia tapahtumia.</th>
                            <th></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!--
            <ul class="list-group list-group-flush">
                {% for event in upcomingevents %}
                    <li class="list-group-item"><a class="fp" href="event/{{ event.id }}">{{ event.name }}, {{ event.date|date:"SHORT_DATE_FORMAT" }} ({{event.organizer.name}})</a></li>
                {% empty %}
                    <li class="list-group-item">Ei tulevia tapahtumia.</li>
                {% endfor %}
                <li class="list-group-item"></li>
            </ul>
            -->
            
        </div>
        <div class="col">
            <h3>Tervetuloa Nakittimeen!</h3>
            <p>
            Nakitin on tapahtumajärjestäjille suunniteltu työkalu, jossa käyttäjät voivat ilmoittautua vapaaehtoisiksi tapahtumiin. Ensisijaisesti Nakitin on kehitetty Asteriskin tarpeisiin.
            </p>
            <p>
            Mikäli haluat oman yhdistyksesi mukaan Nakittimeen ota yhteyttä <a href="https://www.asteriski.fi/virallista/yhteystiedot/">Asteriskin</a> hallitukseen. Nakittimen kehitystyö on vielä kesken ja ongelmia saattaa ilmetä, bugiraportit ja tekniset kysymykset voi lähettää suoraan kehittäjälle: jatail[ät]utu.fi.
            </p>
            <p>
            <b>Versiohistoria</b><br>
            <b>0.2.3.1 - Nakittautuneet näkyvät rekisteröityneille käyttäjille.</b><br>
			0.2.3.0 - Voi juku, GDPR ja tietosuoja! Nakittautujia ei enää näytetä julkisesti, jatkossa vanhat tapahtumat poistetaan järjestelmästä.</br>
            0.2.1.1 - Tapahtumajärjestejille lisätty mahdollisuus viedä nakittautuneiden tiedot csv:nä.<br>
            0.2.1.0 - Ulkoasun muokkausta, nakkien järjestämisperustetta muutettu. Kiitos palautteesta!<br>
            0.2.0.5 - Siistitty tapahtumasivua ja siivottu logiikkaa.<br>
            0.2 - Lisätty tapahtumajärjestäjille mahdollisuus muokata tapahtumia ja nakkeja.<br>
            0.1.1 - Päivitetty tekstit suurinpiirtein järkeviksi, ei enää lorem ipsumia ja seitsemää veljestä.<br>
            0.1.0.5 - Ensimmäinen julkinen versio. <br>
            </p>
            </div>
    </div>
</div>