{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <h3> Tulevat tapahtumat </h3>
                {% for event in upcomingevents %}
                    <li><a href="event/{{ event.id }}">{{ event.name }}, {{ event.date }} ({{event.organizer.name}})</a></li>
                {% empty %}
                    <li>Ei tulevia tapahtumia.</li>
                {% endfor %}
            </ul>
            
        </div>
        <div class="col">
            <h3>Tervetuloa Nakittimeen!</h3>
            <p>
            Nakitin on tapahtumajärjestäjille suunniteltu työkalu, jossa käyttäjät voivat ilmoittautua vapaaehtoisiksi tapahtumiin. Ensisijaisesti Nakitin on kehitetty Asteriskin tarpeisiin.
            </p>
            <p>
            Mikäli haluat oman yhdistyksesi mukaan Nakittimeen ota yhteyttä <a href="https://www.asteriski.fi/virallista/yhteystiedot/">Asteriskin</a> hallitukseen. Nakittimen kehitystyö on vielä kesken ja ongelmia saattaa ilmetä, bugiraportit ja tekniset kysymykset voi lähettää suoraan kehittäjälle: jatail[ät]utu.fi.
            </p>
            <p>
            <b>Versiohistoria</b><br>
            0.2.1.0 - Ulkoasun muokkausta, nakkien järjestämisperustetta muutettu. Kiitos palautteesta!<br>
            0.2.0.5 - Siistitty tapahtumasivua ja siivottu logiikkaa.<br>
            0.2 - Lisätty tapahtumajärjestäjille mahdollisuus muokata tapahtumia ja nakkeja.<br>
            0.1.1 - Päivitetty tekstit suurinpiirtein järkeviksi, ei enää lorem ipsumia ja seitsemää veljestä.<br>
            0.1.0.5 - Ensimmäinen julkinen versio. <br>
            </p>
            </div>
    </div>
</div>