{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3> {{ org_name }}</h3>

            <h4>Tulevat tapahtumat</h4>
            <ul class="list-unstyled">
                {% for event in events_upcoming %}
                    <li><a class="fp" href="/event/{{ event.id }}">{{ event.name }}, {{ event.date |date:"SHORT_DATE_FORMAT" }}</a></li>
                {% empty %}
                    <li>Ei tulevia tapahtumia.</li>
                {% endfor %}
            </ul>

            <h4>Menneet tapahtumat</h4>
            <ul class="list-unstyled">
                {% for event in events_past %}
                    <li><a class="fp" href="/event/{{ event.id }}">{{ event.name }}, {{ event.date |date:"SHORT_DATE_FORMAT" }}</a></li>
                {% empty %}
                    <li>Ei menneitä tapahtumia.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>