{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3> {{ org_name }}</h3>

            <h4>Tulevat tapahtumat</h4>
            <ul>
                {% for event in events_upcoming %}
                    <li><a href="/event/{{ event.id }}">{{ event }}, {{ event.date }}</a></li>
                {% empty %}
                    <li>Ei tulevia tapahtumia.</li>
                {% endfor %}
            </ul>

            <h4>Menneet tapahtumat</h4>
            <ul>
                {% for event in events_past %}
                    <li><a href="/event/{{ event.id }}">{{ event }}, {{ event.date }}</a></li>
                {% empty %}
                    <li>Ei menneitä tapahtumia.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h3>Ohje</h3>
            Heips
        </div>
    </div>
</div>