{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">

            <h3>Rekisteröityneet yhdistykset</h3>
            <ul class="list-group list-group-flush">
                {% for org in organizations %}
                    <li class="list-group-item"><a class="fp" href="/org/{{ org.id }}">{{ org.name }}</a></li>
                {% empty %}
                    <li class="list-group-item">Ei rekisteröityneitä järjestöjä</li>
                {% endfor %}
            </ul>
            
        </div>
    </div>
</div>