{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Käyttäjätiedot</h3>
            <b>Käyttäjätunnus:</b> {{ user.username }}<br>
            <b>ID:</b> {{ user.id }} <br>
            <a href="/password">Vaihda salasana</a>
            <h3>Muokattavat tiedot</h3>
            <form action="/profile/" method="post">
                {% csrf_token %}                
                <div class="form-group">
                    <label class="col-form-label" for="first">Etunimi</label>
                    <input class="form-control" placeholder="{{ user.first_name}}" id="first" name="first" type="text">
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="last">Sukunimi</label>
                    <input class="form-control" placeholder="{{ user.last_name}}" id="last" name="last" type="text">
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="email">Sähköposti</label>
                    <input class="form-control" placeholder="{{ user.email }}" id="email" name="email" type="email">
                </div>
                <button type="submit" class="btn btn-primary">Päivitä tiedot</button>
            </form>
        </div>
        <div class="col">
        <h3>Yhdistykset</h3>
                <p>
                <ul>
                {% for org in orgadmin %}
                    <li>{{org}}</li>
                {% empty %}
                    <li>Et ole minkään yhdistyksen ylläpitäjä.</li>
                {% endfor %}
                </ul>
                    Muiden yhdistysten ylläpito-oikeuksien lisääminen vaatii yhteydenoton Asteriskin hallitukseen.
                </p>
        <h3>Tilastot</h3>
            <p>
            <b>Nakit yhteensä:</b> {{ nakkicount }} kpl
            </p>
            <p>
            <ul>
            {% for nakki in nakkihistory %}
                    <li>{{ nakki }}</li>
            {% empty %}
                    <li>Et ole ollut nakeissa.</li>
            {% endfor %}
            </ul>
            </p>
        </div>
    </div>
</div>