{% include "base.html" %}

<div class="container">
    <div class="row">
        <div class="col">
  {% if validlink %}
    <h1>Vaihda salasana</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Tallenna</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}

        </div>
        </div class="col">

        </div>
    </div>
</div>