<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static "js/moment-with-locales.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tempusdominus-bootstrap-4.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/tempusdominus-bootstrap-4.css" %}">

 </head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Nakitin3000</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Etusivu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/orgs">Järjestöt</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li><a class="nav-link" href="/addevent">Lisää tapahtuma</a></li>
                <li><a class="nav-link" href="/logout">Kirjaudu ulos</a></li>
              {% else %}
                <li><a class="nav-link" href="/signup">Rekisteröidy</a></li>
                <li><a class="nav-link" href="/login">Kirjaudu sisään</a></li>
              {% endif %}
              </ul>
            </div>
          </nav>
      </div>
  </div>
</div>